/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
      --ion-color-gc: #039215;
      --ion-color-gc-light: #4dff65;
      --ion-color-gc-tint: #89ff99;

      --ion-color-bscs: #fc8602;
      --ion-color-cba: #ffd500;

      --ion-color-bg: #1d2030;
      --ion-color-mg: #2c2f35;
      --ion-color-fg: #1e2022;
}