/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
      --ion-color-gc: #039215;
      --ion-color-gc-light: #90ff9f;
      --ion-color-gc-tint: #cbffd2;

      --ion-color-bscs: #fc8602;
      --ion-color-cba: #ffd500;
}