ion-toolbar {
      height: 50px;
      border-bottom: 3px solid var(--ion-color-gc);
}

ion-title {
      margin-bottom: 8px;
      color: black;
}

.post{
      max-width: 700px;
      margin: auto;
      margin-bottom: 10px;
}

.tag {
      color: white;
      padding: 5px;
      border-radius: 10px;
      font-weight: bold;
      font-size: x-small;
}

.gc-tag {
      background-color: var(--ion-color-gc);
}

.bscs-tag {
      background-color: var(--ion-color-bscs);
}


.cba-tag {
      background-color: var(--ion-color-cba);
}

.events-description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
}


@media (max-width: 480px) {
      .post {
            width: 50;
      }
      ion-toolbar {
            height: 40px;
      }
      ion-title {
            margin-bottom: 15px;
            font-size: x-small;
      }

      /*profile*/
      .profile {
            width: 50;
      }
      
}

/*profile*/

.profile {
      max-width: 600px;
      margin: auto;
}

.profile-name {
      font-weight: bold;
      font-size: x-large;
}