ion-tab-bar {
      height: 50px;
      border-top: 3px solid var(--ion-color-gc);
}

ion-tab-button {
      color: black;
      --ripple-color: var(--ion-color-bscs);
}

ion-tab-button:hover ion-label{
      color: var(--ion-color-gc);
}

ion-tab-button.tab-selected {
      color: black;
      background-color: #efefef;
}

ion-tab-button ion-icon {
      color: var(--ion-color-gc);
}

ion-fab-button {
      --background : white;
      --color: var(--ion-color-gc);
}


@media (max-width: 480px) {
      ion-tab-bar {
            height: 40px;
      }
      ion-tab-button {
            margin-bottom: 4px;
      }
      ion-tab-button ion-label {
            display: none;
      }
}