.ion-padding {
      --ion-padding: 10px;
}

.auth-background {
      --background: none;
      background: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
      url('../public/assets/birdseye.jpg') center / cover no-repeat fixed;
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.8;
}

ion-label {
      font-weight: bold;
      color: var(--ion-color-gc);
}

ion-item {
      padding: 10px;
      margin-bottom: 10px;
}

.back-icon {
      position: absolute;
      left: 0;
      font-size: 24px;
      color: var(--ion-color-gc);
      cursor: pointer;
      transition: transform 0.2s ease, opacity 0.2s ease;
      --ripple-color: var(--ion-color-primary);
}

.back-icon:hover {
      transform: scale(1.1);
      opacity: 0.7;
}

ion-tab-bar {
      z-index: 100;
      height: 50px;
      border-top: 3px solid var(--ion-color-gc);
}

ion-tab-button {
      color: black;
      --ripple-color: var(--ion-color-gc);
}

ion-tab-button:hover {
      color: black;
      background-color: #efefef;
}

ion-tab-button:hover ion-label{
      color: var(--ion-color-gc);
}

ion-tab-button.tab-selected {
      color: black;
      background-color: #efefef;
}

ion-tab-button ion-icon {
      color: var(--ion-color-gc);
}

.loginform-container {
      display: flex;
      justify-content: center; /* Horizontally centers the form */
      align-items: center; /* Vertically centers the form */
      min-height: 100vh; /* Makes the container take up the full viewport height */
}
    
.loginform {
      width: 50%;
      background-color: white;
      border-radius: 16px;
      max-width: 500px; /* Optional: Prevents it from getting too wide on large screens */
      padding: 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.appname {
      text-align: center;
      margin-bottom: -30px; /* Adds space between the title and the form */
      font-size: 2.5rem; /* Makes the title bigger */
      color: var(--ion-color-gc-light);
}

.logreg_title {
      text-align: center;
      font-size: 1.5rem; /* Makes the title bigger */
      color: var(--ion-color-gc);
      margin-bottom: 20px;
}

@media (max-width: 720px) {
      .appname {
            padding: 20px;
            margin-top: 30px;
      }
      ion-tab-bar {
            height: 40px;
      }
      ion-tab-button {
            margin-bottom: 4px;
      }
      ion-tab-button ion-label {
            display: none;
      }
      .loginform-container {
            width: 90%;
            margin: 0 auto; /* keeps it centered */
      }
      .loginform {
            width: 100%;
      }
      .loginform ion-item {
            width: 100%;
      }
      .loginform ion-input {
            width: 100%;
      }
}